
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

	<title>Inline Scheduler</title>
    
		    
	<meta name="description" content="">
	<meta name="author" content="Mike Chaliy">
		    		    		
    <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css?v=2">
</head>
<body class="container">

    <header class="row">
        <h1 class="span12">Inline Scheduler</h1>

        <div class="span4" data-bind="css: { loading: inProgress() }">
            <a class="btn" data-bind="click: start, visible: isStopped()">Start</a>
            <a class="btn important" data-bind="click: stop, visible: !isStopped()">Stop</a>
        </div>
    </header>
           
    <div>
        <strong data-bind="visible: isStopped()">Stopped</strong>
        <p>
            Pending: <span data-bind="text: pendingJobsCount"></span>,
            scheduled: <span data-bind="text: scheduledJobsCount"></span>,
            running: <span data-bind="text: runningJobsCount"></span>.
        </p>        
    </div>
    
    <hr/>

    <div id="main" style="display: none">
        
        <!-- Work List -->
        <div data-bind="visible: currentPage() == 'list'" class="row">
            <div class="span4">
                <h3>Show</h3>
                <ul>
                    <li><a href="#filters/all">All</a></li>
                    <li><a href="#filters/running">Running</a></li>                    
                    <li><a href="#filters/failing" >Failing</a></li>
                </ul>
            </div>
            <table class="span12">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Status</th>                
                        <th>Report</th>            
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody data-bind="template: { name: 'worksListItemTemplate', foreach: currentJobs }"></tbody>
            </table>
            <script type="text/html" id="worksListItemTemplate">
                <tr>
                    <td>
                        <a href="#jobs/${JobKey}">${JobKey}</a>                        
                        {{if Description }}
                        <br/>
                        <em>${Description}</em>
                        {{/if}}
                    </td>
                    <td>${CurrentStatus}</td>
                    <td>
                        {{if Health == "Bad" }}
                        <span class="label important">Important</span><br/>
                        {{/if}}
                        {{html Report}}</td>                
                    <td><a class="btn primary" href="#" data-bind="click: force">Force</a></td>
                </tr>
            </script>
        
        </div>                
        
        <!-- Work Details -->
        <div data-bind="template: { name: 'workDetailsTemplate', data: selectedJob }"></div>
        <script type="text/html" id="workDetailsTemplate">                                        
            <h3>Work Details: ${JobKey}</h3>   
            <ul class="breadcrumb">
                <li><a href="#filters/all">All work</a><span class="divider">/</span></li>
                <li class="active">${JobKey}</li>
            </ul>
            <div class="row">
                <div class="span12">
                    {{if Description }}
                    <p><em>${Description}</em></p>
                    {{/if}}
                    <div data-bind="template: { name: 'workReportTemplate' }"></div>
                </div>            
                <div class="span4">
                    <h3>Actions</h3>
                    <ul>
                        <li><a href="#" data-bind="click: force" title="Forces given job to run nearest time.">Force</a></li>
                    </ul>
                </div>
            </div>
        </script>
        
        <!-- Utils -->        
        
        <script type="text/html" id="workReportTemplate">
        <dl>
        {{each PreviousRuns}}
            {{if $value.Result == "Failure" }}
            <dt><span class="label important">Important</span>${$value.Result}</dt>
            {{else}}
            <dt>${$value.Result}</dt>
            {{/if}}
            <dd>
                <em>${formateToTime($value.Started)}-${formateToTime($value.Completed)}</em>
                {{if $value.ResultMessage }}
                <pre>${$value.ResultMessage}</pre>
                {{/if}}
            </dd>
	    {{/each}}
        </dl>    
        </script>


    </div>    
    
    <footer class="footer">      
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Code licensed under the <a href="http://www.opensource.org/licenses/mit-license.php" target="_blank">MIT</a> and hosted on <a href="https://github.com/chaliy/inline_scheduler">GitHub</a></p>      
    </footer>    
       
    <script src="js/vendor/jquery/jquery-1.6.4.min.js"></script>
    <script src="js/vendor/jquery.tmpl/jquery.tmpl.min.js"></script>
    <script src="js/vendor/knockout/knockout-1.2.1.js"></script>
    <script src="js/vendor/sammy/sammy.min.js"></script>
	<script src="js/app.js"></script>	    

    <script type="text/javascript">
        function formateToTime(inp) {
            // WTF need something to work with dates in javascript
            // From https://github.com/coolaj86/javascript-date/blob/master/date.js
            var pattern = /^(\d{4})(-(\d{2})(-(\d{2})(T(\d{2}):(\d{2})(:(\d{2})(\.(\d+))?)?(Z|((\+|-)(\d{2}):(\d{2}))))?)?)?$/;
            var match = pattern.exec(inp);

            if (null === match) {
                return "N/A";
            }
            
            var hours = match[7] >> 0;
            var minutes = match[8] >> 0;
            var seconds = match[10] >> 0;                       
            
            return hours + ":" + minutes + ":" + seconds;
        }
        function currentTime() {
            var current = new Date();            
            return current.toLocaleTimeString();
        }
    </script>        
</body>
</html>